In [39]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle

In [2]:
all_tables = pd.read_html("https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")

In [26]:
all_tables[9]
all_tables[16]
all_tables[23]

all_tables[58]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1     Portugal    3  2  0  1   6   4  +2    6  Advanced to knockout stage
1    2  South Korea    3  1  1  1   4   4   0    4  Advanced to knockout stage
2    3      Uruguay    3  1  1  1   2   2   0    4                         NaN
3    4        Ghana    3  1  0  2   5   7  −2    3                         NaN

In [29]:
alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [31]:
dict_table = {}
for letter, i in zip(alphabet, range(9, 65, 7)):
    df = all_tables[i]
    df.rename(columns = {df.columns[1]: 'Team'}, inplace = True)
    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

In [38]:
dict_table['Group H']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    3  2  0  1   6   4  +2    6
1    2  South Korea    3  1  1  1   4   4   0    4
2    3      Uruguay    3  1  1  1   2   2   0    4
3    4        Ghana    3  1  0  2   5   7  −2    3

In [40]:
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)